<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Session Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Duration</string>
			<key>Key</key>
			<string>session_duration</string>
			<key>DefaultValue</key>
			<string>15</string>
			<key>Titles</key>
			<array>
				<string>5 Minutes</string>
                <string>15 Minutes</string>
                <string>30 Minutes</string>
                <string>45 Minutes</string>
                <string>60 Minutes</string>
                <string>90 Minutes</string>
                <string>120 Minutes</string>
			</array>
			<key>Values</key>
			<array>
				<string>5</string>
                <string>15</string>
                <string>30</string>
                <string>45</string>
                <string>60</string>
                <string>90</string>
                <string>120</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
